@media only screen and (min-width: 400px) {
    .mobileWrapper {
        display: none;
    }

    body {
        background: url("https://www.fg-a.com/wallpapers/2017-white-circles.jpg")no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }



    .greeting {
        margin: 20px 20px 0px;
    }

    .categories {
        // border: 1px solid red;
        position: fixed;
        right: 0;
        top: 0;
        width: 350px;
        height: 100%;
        color: white;
        padding: 0px 20px;
        background: #E8E8E8;
        z-index: 2;

        header {
            // border: 1px solid red;

            nav {
                position: fixed;
                top: 20px;
                right: 0;
                padding: 10px 10px;
                font-size: 40px;
                color: rgb(193, 193, 193);
            }

            .navBtn {
                padding: 0px 10px 0px 0px;
            }
        }

        .categoriesBtns {
            margin: 140px 0;
        }

        .card {

            box-shadow: 5px 5px 8px #b8b8b8
        }
    }

    .carousel-inner {
        // background: grey;
        text-align: center;

        img {
            margin: 0 auto;
            width: 200px;
        }
    }


    .courses {
        padding: 80px 0;

        h4 {
            padding: 20px 20px 0;
        }
    }

    .swiper-container {
        padding: 30px 20px !important;
        width: 100%;
        // border: 5px solid red;
    }

    .swiper-slide {
        width: 180px !important;
        height: 200px !important;
        font-size: 18px;
        // background: black;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        margin: 0 auto;

        img {
            width: 300px;

            border-radius: 10px;
        }

    }

    #arrow {
        padding: 60px 0;
        font-size: 40px;
        color: rgb(208, 208, 208);
    }

    .footer {
        // border: 1px solid red;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60px;
        background: rgb(232, 232, 232);
        z-index: 3;


        ul {
            width: 90%;
            // border: 1px solid red;
            margin: 0 auto;
            text-align: center;
            // padding-top: 20px;
        }

        li {
            color: rgb(175, 175, 175);
            display: inline;
            font-size: 40px;
            padding: 20px 50px;

            .active {
                color: #EF6103;
            }

        }
    }

}